<div class="d-flex justify-content-center align-content-center mt-5" *ngIf="_project | async as project">
  <button mat-icon-button [routerLink]="['/projects']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-card class="col-4 w-50 background-primary">
  <mat-card-header>
    <mat-card-title >
      <h1>
        {{ originalTitle }}
      </h1>
    </mat-card-title>
    <ng-template #elseCreateNew>
      <h1>Create a New Project</h1>
<button mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>

    </ng-template>
  </mat-card-header>
  <form [formGroup]=form #formDirective="ngForm">
    <mat-card-content class="background-accent">
        <p mat-line>project title:</p><h3 mat-line class="background">{{project.title}}</h3>
        <p mat-line>project details:</p><h3 mat-line>{{project.details}}</h3>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </form>
</mat-card>
</div>
